@using BusinessObjects;
@model Book
<style>
    .zoomed-image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
</style>
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-content">
                <div class="block-heading">
                </div>
                <div class="product-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery">
                                <div id="product-preview" class="vanilla-zoom">
                                    <img src="https://localhost:7186/api/Book/image/@Model.ID" style="width: 545px;height: 700px;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info">
                                <h2>@Model.book_name</h3>
                                <div class="info">
                                    <h5> 
                                       Author: @Model.book_author
                                    </h5>
                                </div>
                                <div class="price">
                                    <h3>Price: $@(Model.book_price)</h3>
                                </div>
                                <div class="text">
                                    <h4>Available: @(Model.quantity) book(s)</h4>
                                </div>
                                <div class="summary">
                                    <h5> 
                                        @Model.book_description
                                    </h5>
                                </div>
                                <br/>
                                <a id="addToCartBtn" asp-controller="Cart" asp-action="AddToCart"  asp-route-id="@Model.ID" class="btn btn-primary" type="button">
                                    Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
    // Get the button element by its ID
    var addToCartBtn = document.getElementById("addToCartBtn");

    // Check if the quantity is less than or equal to 0
    if (@Model.quantity <= 0) {
        // Disable the button by adding the "disabled" attribute
        addToCartBtn.setAttribute("disabled", "disabled");
        // Show an alert to the user
        addToCartBtn.addEventListener("click", function(event) {
            event.preventDefault(); // prevent default action of the button
            alert("Sorry, this book is currently out of stock.");
        });
    }
</script>