@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BusinessObjects;
@model IEnumerable<Book>

<div class="container-fluid">
    <h3 class="text-dark mb-4"></h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <a asp-action="Create" class="text-primary m-0 fw-bold">Add New</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">
                            Show&nbsp;
                            <select class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label">
                        <input type="search" id="mySearchInput" onkeyup="mySearchFunction()" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="tableBook" >
                    <thead>
                        <tr>
                            <th>Book</th>

                            <th class="text-center">Price</th>
                            <th class="text-center">Quantity&nbsp;</th>
                            <th class="d-xl-flex justify-content-xl-center" style="border-top-color: var(--bs-table-bg);border-bottom-color: var(--bs-table-bg);">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var book in Model)
                        {
                            <tr>
                                <td><img class="img-fluid me-2" width="30" height="30" src="https://localhost:7186/api/Book/image/@book.ID" style="width: 100px;height: 100px;border-radius: 0px;transform: scale(1);">@book.book_name</td>
                                <td class="text-center" ><strong>@book.book_price</strong></td>
                                <td style="text-align: center;"><strong>@book.quantity</strong></td>
                                <td class="d-xl-flex justify-content-xl-center" style="border-bottom-color: var(--bs-table-bg);">
                                    <a class="far fa-edit" asp-action="Edit" asp-route-id="@book.ID" style="font-size: 25px;margin-left: 18px;"></a>
                                    <a class="fa fa-remove delete-book"  data-bookid="@book.ID"  style="font-size: 25px;"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</div


@section Scripts {
    <script>

        $(document).on("click", ".delete-book", function () {
            var x = confirm('Are you sure to delete this book?');
            if(x) {
            var bookId = $(this).data("bookid");
            $.ajax({
                url: "https://localhost:7186/api/Book/" + bookId,
                type: "DELETE",
                success: function () {
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                }
            });
    
            }
      });

    function mySearchFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("mySearchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("tableBook");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
     
    </script>
}